$main-color: #69912d;

ul {
    padding-left: 40px;
    list-style-type: circle;
}

.btn-main,
.contact-form .block button,
.feature .btn-view-works {
    background-color: $main-color;
}

.contact-form .block button:hover,
.btn-main:hover {
    background-color: darken($main-color, 15%);
}

.btn-solid-border {
    border-color: #a0cc7a;
}

.mobile {
    padding: 10px 15px;
    font-weight: bold;
    color: $main-color;
}

ul.address-block,
ul.counter-box {
    padding: 0;
    list-style-type: none;
}

textarea {
    resize: vertical;
}

.feature p {
    color: #333;
}

.counter-item {
    text-align: center;
}
