{{ define "main" }}

{{ partial "page-title.html" . }}

{{ $data := index site.Data site.Language.Lang }}

<section class="contact-form">
  <div class="container">
    <div class="row">
      <form name="contact" action="/" method="POST" enctype="multipart/form-data" netlify>
        <div class="col-md-6 col-sm-12">
          <div class="block">
            <div class="form-group">
              <input name="name" type="text" class="form-control" placeholder="Your Name" required>
            </div>
            <div class="form-group">
              <input name="email" type="text" class="form-control" placeholder="Email Address" required>
            </div>
            <div class="form-group">
              <input name="size" type="text" class="form-control" placeholder="Square feet" required>
            </div>
            <div class="form-group">
              <input name="phone" type="text" class="form-control" placeholder="Phone" required>
            </div>
            <div class="form-group">
              <select name="category" class="form-control">
                <option disabled selected>Category</option>
                <option>Landscaping</option>
                <option>Hardscaping</option>
                <option>Cleaning</option>
                <option>Sealing & Coatings</option>
              </select>
            </div>
            <div x-data="{ count: 1 }">
              <template x-for="i in count">
                <div class="form-group">
                  <input type="file" :name="'photo' + i">
                </div>
              </template>
              <div class="form-group">
                <button type="button" class="btn btn-main" @click="count++">Add photo</button>
                <p class="help-block">Upload a picture of your project.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="block">
            <div class="form-group">
              <textarea name="job_address" class="form-control" placeholder="Your address" required></textarea>
            </div>
            <div class="form-group">
              <textarea name="user_message" class="form-control" placeholder="What would you like done?" required></textarea>
            </div>
            <div class="form-group block">
              <button type="submit" class="btn btn-main">{{ i18n "submit" }}</button>
            </div>
            <div class="form-group">
              <div netlify-recaptcha></div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="contact-box row">
      <div class="col-md-6 col-sm-12">
        <div class="block">
          <h2>{{ i18n "address_title" }}</h2>
          <ul class="address-block">
            <li><i class="ion-ios-location-outline"></i>{{i18n "location"}} {{ site.Params.location }}</li>
            <li><i class="ion-ios-email-outline"></i>{{i18n "email"}} {{ site.Params.email }}</li>
            <li><i class="ion-ios-telephone-outline"></i>{{i18n "phone"}} {{ site.Params.mobile }}</li>
          </ul>
          <ul class="social-icons">
            {{ range site.Params.social }}
            <li><a href="{{ .link | safeURL }}"><i class="{{ .icon }}"></i></a></li>
            {{ end }}
          </ul>
        </div>
      </div>
      {{ if site.Params.gmap.enable }}
      <div class="col-md-6 col-sm-12">
        <div class="block">
          <div class="google-map">
            <div class="map" id="map_canvas" data-latitude="{{ site.Params.gmap.map_latitude }}" data-longitude="{{ site.Params.gmap.map_longitude }}" data-marker="{{ site.Params.gmap.map_marker | relURL }}" data-marker-name="{{ site.Title }}"></div>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>

{{ end }}
